---
layout: post
title: "July 2014 New York Tech Meetup (Part 2)"
date: 2014-07-14 21:11:23 -0400
comments: true
categories:
---
-#
  TODO: Replace hardcoded permalinks to different sections with post_url
  generated permalinks once post_url is fixed:
  https://github.com/jekyll/jekyll/issues/1845

%p
  %img(src="/images/posts/2014-07-01-nytm.jpg" title="Welcome to NYTM")
%p
  In
  %a(href="/blog/2014/07/04/july-2014-nytm-1/") part one
  of this series, I described the startups that presented in the first segment of
  July's
  =succeed ':' do
    %a(href="http://www.meetup.com/ny-tech/") New York Tech Meetup
  =succeed ',' do
    %a(href="/blog/2014/07/04/july-2014-nytm-1/#blippar") augmented reality for consumer products
  =succeed ',' do
    %a(href="/blog/2014/07/04/july-2014-nytm-1/#vosmap") Google street view for retailers
  and
  =succeed '.' do
    %a(href="/blog/2014/07/04/july-2014-nytm-1/#knozen") co-worker personality rating
  This post will discuss the three startups that presented in the second segment.
  <!-- more -->

%h2
  %a(id="shoppable" href="http://www.shoppable.com/") Shoppable
%p
  %a(href="http://www.72lux.com/") 72Lux
  demonstrated Shoppable, what they described as a licensable marketplace.
  The Shoppable platform provides a so-called universal checkout
  API as well as a universal wishlist API intended for online publishers to
  enable their readership to seamlessly purchase products from different retailers
  directly on the publisher's website. For example,
  %a(href="http://time.com/") Time.com
  might publish an article about a new product from
  =succeed '.' do
    %a(href="http://www.sephora.com/") Sephora
  Interested readers could then immediately purchase that product right from
  the Time.com website. Alternatively, readers could also
  save the product in their wishlist and later complete their purchase from
  Time.com or any other publisher using the Shoppable API. Finally, consumers
  could also visit the Shoppable website to purchase products directly from various
  retailers.

%h3 Q&A (paraphrased)
%p
  %dl
    %dt Is it possible to price compare against other e-commerce sites?
    %dd
      Yes, but only with other websites that have integrated with the Shoppable
      platform.
    %dt
      How do you resolve conflicts (e.g. price differences) between competitors
      on your platform?
    %dd
      It is ultimately a business decision for the retailers themselves.

%h2
  %a(id="electricobjects" href="http://www.electricobjects.com/") Electric Objects
%p
  Electric Objects demonstrated their prototype of a digital "photoframe"
  integrated with their website, a platform for managing the content that appears
  on the photoframe itself. The photoframe they demoed was a 23-inch IPS display
  running a customized build of Android. Unlike traditional photoframes which
  display only static images, their photoframe can render animations as well.
  Their intention in building this technology
  is to provide users with a way to experience the digital art found across the
  internet in a real-world setting. They have also begun an artist-in-residence
  program to produce artwork especially for their photoframe.

%h3 Q&A (paraphrased)
%p
  %dl
    %dt How do you address the problem of copyrights?
    %dd
      We consider the display of artwork with our technology to be within the
      bounds of fair use.
    %dt How much power does the monitor consume?
    %dd No more than an incandescent lightbulb.
    %dt What kind of material is used for the photoframe's case?
    %dd
      Currently it is plastic, but we will also provide an option for a wooden
      case.

%h2
  %a(id="amicus" href="http://www.amicushq.com/post") Amicus
%p
  Amicus presented a service that allows non-profits to raise awareness, funds,
  and increase engagement amongst their supporters. This service allows users to
  send physical postcards to their friends to encourage them to join the cause.
  The postcards can be customized to include a personalized message from the sender
  and different images provided by the non-profit. One unique aspect of the service
  is that users need not enter the recipient's address: this information is gleaned
  from correlating the recipient's Facebook profile with publicly-available sources
  such as voter registration records.

%h3 Q&A (paraphrased)
%p
  %dl
    %dt Is it possible for users to input an address for recipients?
    %dd
      No. For now it is only possible to send postcards to recipients whose
      addresses are available. We found that allowing users to add addresses
      for recipients suffered from
      %a(href="http://en.wikipedia.org/wiki/Decision_fatigue") decision fatigue
      and would not ultimately send the postcard.
    %dt How do you ensure that the recipient's address is correct?
    %dd We partner with data providers to ensure correctness of addresses.
