---
layout: post
title: "Coworking Spaces in NYC"
date: 2014-05-22 10:04:32 -0400
comments: true
categories:
---
%p
  The other day, I visited several co-working spaces in New York City based on
  %a(href='http://thenextweb.com/insider/2011/08/17/the-5-coolest-coworking-spaces-in-new-york-city/') this article
  (which I now realize is from 2011). Here's my take (ordered by my preference).
<!-- more -->
%ol
  %li
    %p
      %a(href='http://nwc.co/') New Work City
    %section
      %h4 Likes
      %ul
        %li
          Free equipment to borrow! Spare monitors + adapters and other
          electronic miscellany.
        %li A good-sized, well-stocked kitchen
        %li
          A couple "phone booth" rooms for phone calls. The rooms aren't very
          soundproof though.
        %li
          Essentially no closing time. If you want to stay late, the staff can
          teach you how to lock up.
      %br
    %section
      %h4 Dislikes
      %ul
        %li
          Squeeky floors could be distracting. Can probably be mitigated with
          headphones
      %br
  %li
    %p
      %a(href='http://makeshiftsociety.com/') Makeshift Society
      (Bonus!)
    %section
      %h4 Likes
      %ul
        %li Huge windows with lots of natural lighting
        %li Basement level with kitchen
        %li Whiteboards have a wooden finish
      %br
    %section
      %h4 Dislikes
      %ul
        %li Located in Brooklyn (less convenient for me)
        %li Large, open space can be loud/echoey
      %br
  %li
    %p
      %a(href='http://fueled.com/coworking-space-nyc/') Fueled Collective
    %p
      I wasn't able to get a tour per-se, but I did get to look around the
      space.
    %section
      %h4 Likes
      %ul
        %li Huge space with lovely decor
        %li 24-hour access
      %br
    %section
      %h4 Dislikes
      %ul
        %li 3-month minimum
      %br
  %li
    %p
      %a(href='https://generalassemb.ly/') General Assembly
    %section
      %h4 Likes
      %ul
        %li Wide open space and separate wings with cubicle like spaces
        %li Electronic signs indicate when conference rooms are booked
      %br
    %section
      %h4 Dislikes
      %ul
        %li No longer a coworking space as of January 2014.
      %br
  %li
    %p
      %a(href='http://www.wework.com/') WeWork Labs
    %p
      WeWork has many locations around New York City offering private offices,
      dedicated desks, and hot desks. I finally scheduled a visit to their Soho
      offices and have been back for meetings a few times since.
      %br
      %del
        They were short on staff when I visited, so were unable to give me a
        tour. I'll update this post when I get a chance to visit the
        space.
      %br
    %section
      %h4 Likes
      %ul
        %li Large lounge area for hot desks
        %li Private office section includes small lounges to take a break
      %br
    %section
      %h4 Dislikes
      %ul
        %li Office spaces can be a little small
      %br
  %li
    %p
      %a(href='http://www.projectivenyc.com/') Projective Space
    %p
      %del
        No one was home to say hello, so I didn't get a chance to see the space.
        Perhaps another day.
      %br
    %section
      %h4 Likes
      %ul
        %li Wide open spaces
      %br
    %section
      %h4 Dislikes
      %ul
        %li Can be quite noisy
      %br
%h3 Final Thoughts
%p
  I really like the way these places keep the old interior of the buildings.
  Sometimes the floors are a little squeeky, but it gives each place a unique
  character that is just so hard to replicate.
%p
  Many of these coworking spaces don't seem to open on the
  weekends. Perhaps that's just a hint to quit working and get out to have some
  fun!

%p Update 6/17/2014: Added WeWork and Projective Space details
